
/* Tất cả màu bên dưới bạn đều có thể thay đổi được */
.thuTitle {
	padding: 20px;
	background-color: #dca7ff;
	color: white;
	font-family: 'Dancing Script', cursive;
	font-size: 26pt;
}

.tamthu {
	font-family: 'Roboto', sans-serif;
	font-size: 20pt;
	color: rgb(255, 255, 255);
}

.content {
	background-color: #00c8ff;
}

body {
	/* Ảnh nền của trang thứ 2 */
	background-image: url("./Minimalist-Infinite-Love-Wallpaper-27563.png");
	background-size: cover;
    background-repeat: none;
}
span {
	display: inline-block;
	white-space: pre;
}

.iloveyou {
	position: relative;
}

.mask {
	position: absolute;
	background-color: #ffbcec;
	width: 100%;
	height:100%;
	top: 0;
	left: 0;
}
